# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
.last_build_id
pubspec.lock
android/app/src/main/res/build/ios/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

.vscode/

# Environmental configuaration
lib/env/env.g.dart
.env.dev
.env.bm
.env.prod
.env.qa
.env.uat

# "JSON to Dart Model" generator tracker files locations.
/.json_models/
models.jsonc
http_services/ios/Flutter/Generated.xcconfig
http_services/ios/Flutter/flutter_export_environment.sh
http_services/ios/Runner/GeneratedPluginRegistrant.h
http_services/ios/Runner/GeneratedPluginRegistrant.m
http_services/android/local.properties
.env.uat
ios/build/ios/XCBuildData/PIFCache/

# Local files
*.jks
