<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>539853722716-s60j5f7uc3caup8mrn3cesm89e49idfn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.539853722716-s60j5f7uc3caup8mrn3cesm89e49idfn</string>
	<key>API_KEY</key>
	<string>AIzaSyBRJ6htaSsWDVf8UWEMkWjWEGiwaze3Qoo</string>
	<key>GCM_SENDER_ID</key>
	<string>539853722716</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tarento.nxt.karmayogi</string>
	<key>PROJECT_ID</key>
	<string>igotkarmayogi-6e10a</string>
	<key>STORAGE_BUCKET</key>
	<string>igotkarmayogi-6e10a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:539853722716:ios:3f30cee6c505eb90cb8299</string>
</dict>
</plist>